/* base styles, feel free to edit */
:root {
  --reddit-blue: #0079D3;
  --reddit-orange: #FF5700;
  --reddit-grey: rgba(0, 0, 0, 0.0975);
  --reddit-light-grey:  rgba(0, 0, 0, 0.041);
  --reddit-bg-color: #f1f1f7;
  --body-text-size: 12px;
  --alt-text-color:  rgba(0, 0, 0, 0.65);
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--reddit-bg-color);
  height: 100%;
  font-family: -apple-system, 'Open Sans', 'Helvetica Neue', sans-serif;
}

footer {
  border-top: 1px solid var(--reddit-grey);
  padding: 10px;
  background-color: white;
  min-height: 50px;
  text-align: right;
}

.alt-text {
  color: var(--alt-text-color);
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  min-height: 50px;
  border-bottom: 1px solid var(--reddit-grey);
}

#logo {
  color: white;
  font-size: var(--body-text-size);
  width: 40px;
  height: 40px;
  background-color: var(--reddit-orange);
  border-radius: 50%;
}

#search {
  background-color: var(--reddit-bg-color);
  font: inherit;
  font-size: var(--body-text-size);
  border: none;
  padding: 7.5px 15px;
  outline: none;
  border: 1px solid var(--reddit-grey);
  border-radius: 4px;
}

#search::placeholder {
  letter-spacing: 0.5px;
  font-size: var(--body-text-size);
}

#search:focus {
  background-color: white;
  border-color: var(--reddit-blue);
}

.button {
  border: 1px solid var(--reddit-blue);
  border-radius: 4px;
  text-transform: uppercase;
  padding: 7.5px 15px;
  font-weight: bold;
}

.button-primary {
  color: var(--reddit-blue);
}

.button-secondary {
  background-color: var(--reddit-blue);
  color: white;
}

.banner > *,
footer > * {
  margin: 10px 25px;
}

.nav {
  list-style-type: none;
  padding: 0;
}

.nav-item {
  margin: auto;
  padding: 5px;
  display: inline;
  list-style-type: none;
}

#feed {
  min-width: 500px;
  max-width: 800px;
  width: 80%;
  margin: 20px auto;
  padding: 0;
}

.feed-header {
  display: flex;
  justify-content: space-between;
}

.feed-title {
  font-weight: normal;
  margin: 0;
}

/* Add your styles here */
.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 10px 15px;
    width: 30%;
}

.close-button {
    float: right;
    width: 1.5px;
    line-height: 1.5px;
    text-align: center;
    cursor: pointer;
}

.close-button:hover {
    background-color: lightgray;
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.modal-textbox {
    padding: 5px 1px;
    width: 95%;
    height: 20%;
}

.modal-content-items {
    padding: 5px 1px;
}

.textbox-glow {
    border-color: red;
}

.textbox-error {
    margin-block-start: 0px;
    margin-block-end: 0px;
}

.button-display {
    visibility: hidden;
}

.post-votes {
    text-align-last: center;
    margin-block-start: 1px;
    margin-block-end: 1px;
}

.post-arrow {
    font-weight: 1000;
}

.post-arrow:hover {
    color: lightblue;
    transition: 0.4s;
}

.post-arrow-click {
    color: blue;
}

.post-image {
    padding: 5px 1px;
    width: 95%;
    height: auto;
}

.upvotes-modal-list {
    list-style-type: none;
}

.upvotes-number:hover {
    text-decoration: underline;
    color: lightblue;
}

.comments-modal-list {
    list-style-type: none;
    margin-block-start: 10px;
    margin-block-end: 10px;
    background-color: lightgray;
}

.comments-modal-text {
    margin-block-start: 0px;
    margin-block-end: 0px;
}

.comments-number:hover {
    text-decoration: underline;
    color: lightblue;
}

.comment-list {
    padding-inline-start: 5px;
}

.profile-attributes {
    display: inline;
}

.profile-data {
    text-align-last: right;
}

.feed-header-padding {
    padding-block-start: 5%;
    padding-inline-start: 10%;
    padding-inline-end: 10%;
}
